<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">TUITCOINS<br>Saca partido a tu timeline.</h1>
        <p class="lead">Recomienda páginas a tus seguidores y obtén recompensas por ello.</p>
        <p>&nbsp;</p>
        <p class="lead">
          <%= link_to "Acceder GRATIS con Twitter", "/auth/twitter", :class => "btn btn-lg btn-info btn-cta" %>
        </p>
      </div>


    </div>

  </div>

</div>
