<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">      

      <div class="inner cover">
        <h1 class="cover-heading white">NUMBERAFFINITY.</h1>

        <p class="lead white">Descubre el grado de compatibilidad numerológica con tus seguidores.</p>

        <p class="lead">
          <%= link_to "Acceder GRATIS con Twitter", "/auth/twitter?app=numberaffinity", :class => "btn btn-lg btn-info" %>
        </p>
      </div>
  
    </div>
  </div>
</div>

<% if Rails.env.production? %>
  <%= render "ganalytics_numberaffinity" %>
<% end %>