<div id="evolution" class="row no-horizontal-margin">
</div>

<script>
  $(function () { 
    Highcharts.setOptions({
      lang: {
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 
          'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        decimalPoint: ',',
        thousandsSep: '.',
        resetZoom: 'Sin zoom'
      }
    });
    $('#evolution').highcharts({
      chart: {
        type: 'line',
        zoomType: 'x',
      },
      title: {
        text: null
      },
      xAxis: {
        categories: [<%= (evolution.days.map{ |x| "\"#{x}\"" } * ",").html_safe %>],        
      },
      yAxis: {
        title: {
          text: null
        },
        min: 0,
        plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]           
      },
      legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        borderWidth: 0
      },
      tooltip: {
        useHTML: true,
        formatter: function() {
          s = '<b>' + this.series.name + '</b><br/>' + this.x + '<br/><div class="tooltip-chart">' + this.y + '</div>';
          return s;                
        },
        style: {
          color: '#505050'
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Usuarios diarios',
        data: [<%= (evolution.daily_ocurrences.values * ",").html_safe %>]
      },
      {
        name: 'Usuarios acumulados',
        data: [<%= (evolution.accumulated_ocurrences.values * ",").html_safe %>]
      },
      {
        name: 'Audiencia acumulada',
        data: [<%= (evolution.followers.values * ",").html_safe %>]
      }]
    });
  });
</script>