<div class="row">
  <div class="col-md-4">    
    <center>
      <h4><%= number_with_delimiter(app.users.count) %></h4>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <h4><%= app.name %></h4>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <h4><%= number_with_delimiter(app.scope) %></h4>
    </center>
  </div>  
</div>