/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container{
  max-width: 730px;
}

.header{
  margin-bottom: 30px;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.footer{
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

.no-horizontal-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-horizontal-margin{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.logo{
  margin-top: 10px;
  font-size: 24px;
}

.header .nav {
  padding-top: 8px;
}

.main-bar{
  height: 40px;
}

.claim{
  font-size: 10px;
  color: #cccccc;
}

.right {
  text-align: right;
}

.category-name{
  margin-top: 4px;
}

.profile {
  width: 30px;
  height: 30px;
}

.total-label{
  padding-top: 20px;
}