<div class="row no-horizontal-margin">
  <div class="col-md-5 no-horizontal-padding">
    <h1 class="form-title">Editar categoría</h1>
  </div>
</div>

<div class="row">
  <%= render "form" %>
</div>
