<!DOCTYPE html>
<html class="fullimage" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saca partido a tu timeline">
    <meta name="author" content="Dante Alcócer y Juan José Cano-Cortés Cartagena">
    <%= stylesheet_link_tag "application", "app" %>
    <link rel="icon" href="../../favicon.ico">

    <title><%= @app_name.capitalize %></title>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Facebook Conversion Code for Registro -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6029586440420', {'value':'0.00','currency':'EUR'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029586440420&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
  </head>

  <body class="fullimage">
    <%= yield %>
  </body>
</html>
